# IPアドレスやポートを変更する場合は、このファイルを.envというファイル名にリネームして、コメントを解除して下さい
# 
# 以下は Apache Webサーバー兼フォワードプロキシのIPアドレス
# APACHE_IP=127.0.0.1
# Amazon EC2などに設置する場合は以下（ファイアウォール等で防御すること）
# APACHE_IP=0.0.0.0
#
# 通常利用するPROXY（フォワードプロキシ）のポート
# APACHE_PROXY_PORT=23128
# 
# 直接Webアクセスする場合の接続先IPアドレス
# WEB_IP=127.0.0.1
# 127.0.0.1 を使用済みの場合の代替ループバックアドレスの例(Macで利用可能)
# WEB_IP=127.10.90.1
# 
# WebサーバーのIPアドレス
# WEB_IP=192.168.0.5
# Webサーバーのポート(HTTP) ホストと衝突しないものを選択すること
# WEB_HTTP_PORT=80
# Webサーバーのポート(HTTPS) 同上
# WEB_HTTPS_PORT=443
#
# 以下は Apache Webサーバーのポート（デバッグ用）
# APACHE_WEB_PORT=88
