@charset "UTF-8";

html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   background-color:#DDDDDD;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
   padding:0;
}

p {
   margin:0 0 1em 0;
   padding:0;
}

br {
   letter-spacing:normal;
}

img {
   border:0;
}
a {
   color:#0000FF;
   text-decoration:none;
}

a:hover {
   color:#0000FF;
   text-decoration:underline;
}

dl, ol, ul {
   margin:0 0 1em 0;
   padding:0;
}

li {
   margin:0 0 0 40px;
   padding:0;
}

#top {
   width:800px;
   margin:20px auto;
   padding:0 20px;
   border:1px solid #CECFCE;
   background-color: #FFFFFF;
}

#header {
   width:800px;
   position:relative;
}

#navi {
   position:absolute;
   top:20px;
   right:0;
}

#menu {
   float:left;
   width:800px;
   margin:10px 0;
   background-color:#333333;
}

#contents {
   clear:both;
}

#pageTop {
   clear:both;
}

#footer {
   width:800px;
   clear:both;
   padding:10px 0;
}

#header h1 {
   padding:20px 0;
   font-weight:bold;
   font-size:28px;
}

#header h1 a {
   color:#333000;
}

#header h1 a:hover {
   color:#92C45B;
}
#header p {
   margin:0;
   padding:0 0 5px 0;
   border-bottom:1px solid #CECFCE;
}

#navi ul {
   list-style:none;
}

#navi li {
   float:left;
   margin:0 0 0 22px;
   padding:0 0 0 20px;
   font-size:11px;
}

#navi li a {
   border-bottom:1px solid #CECFCE;
}

#menu ul {
   list-style:none;
   margin:0;
   padding:0;
}

#menu li {
   float:left;
   margin:0;
   padding:0;
}

#menu li a {
   display:block;
   /** padding:8px 20px;  */
   padding:8px 17px;
   color:#fff;
}

#menu li a:hover {
   color:#fff;
   background-color:#68903C;
   border:none;
}

#menu .on {
   background-color:#68903C;
   color:#fff;
}


/* ========CONTENTS CUSTOMIZE======== */
#contents h2 {
   margin-bottom:10px;
   padding:10px 0;
   font-weight:bold;
   font-size:16px;
   border-bottom:2px solid #ddd;
}

#contents h3 {
   margin-bottom:2px;
   padding:2px 0 2px 10px;
   font-weight:bold;
   font-size:15px;
   line-height:1.2;
   border-left:5px solid #333000;
}

#contents h4 {
   margin-bottom:2px;
   font-weight:bold;
   font-size:14px;
   border-bottom:2px solid #666000;
}

#contents h5 {
   margin-bottom:2px;
   padding:2px 5px;
   font-weight:bold;
   font-size:13px;
   background-color: #ececec;
}

#contents h6 {
   font-weight:bold;
   font-size:13px;
}

#contents dl {
   margin:0;
   padding:0;
}

#contents dt {
   text-decoration:underline;
}

#contents dd {
   margin:0 0 1em 1em;
}

#contents table {
   width:100%;
   border-collapse: collapse;
}

#contents table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
   background-color: #cfcfcf;
}

#contents table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
}

#from table {
   width:100%;
   border-collapse: collapse;
}

#from table th {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:1px solid #ddd;
   background-color: #cfcfcf;
}

#form table td {
   padding:5px;
   font-size:12px;
   text-align:left;
   border:0px;
}

.welcome {
   text-align:right;
}

.copyright {
   text-align:center;
   font-size:11px;
   font-style:normal;
   padding:20px 0;
   border-top:1px solid #CECFCE;
}

.message {
   color: red;
   font-size: 11px;
   margin-left: 10px;
}

#search {
   float: right;
}
